<table class="leaderboard">
  <tbody>
    <!-- Playah -->
    <tr>
      <td>1</td>
      <td>
        <div class="leaderboard__playah">
          <img class="leaderboard__playah__icon" src="<%= current_user && current_user.avatar_url %>"></img>
          <div>
            <div>Baller Fund</div>
            <div>Ben Jennings</div>
          </div>
        </div>
      </td>
      <td>
        $1,010
      </td>
    </tr>
    <!-- Playah -->
    <tr>
      <td>2</td>
      <td>
        <div class="leaderboard__playah">
          <img class="leaderboard__playah__icon" src="<%= current_user && current_user.avatar_url %>"></img>
          <div>
            <div>Miastah Etha</div>
            <div>Ethan Bradberry</div>
          </div>
        </div>
      </td>
      <td>
        $810
      </td>
    </tr>
  </tbody>
</table>
