<table class="assets">
  <tbody>
    <!-- Legend -->
    <tr class="assets__legend">
      <td>#</td>
      <td>Name</td>
      <td>Market Cap</td>
      <td>Price</td>
      <td>Available Supply</td>
      <td>Volume (24h)</td>
      <td>% Change (24h)</td>
      <td>Selected</td>
    </tr>
    <!-- Asset -->
    <tr class="asset">
      <td>1</td>
      <td>Bitcoin</td>
      <td>$100,000</td>
      <td>$500</td>
      <td>15,790,944 BTC</td>
      <td>$ 353,827,000 </td>
      <td>-9.38 %</td>
      <td><input type="checkbox"></td>
    </tr>
    <!-- Asset -->
    <tr class="asset">
      <td>2</td>
      <td>Etha Classic</td>
      <td>$200,000</td>
      <td>$100</td>
      <td>12,790,944 ETC</td>
      <td>$ 153,827,000 </td>
      <td>+39.38 %</td>
      <td><input type="checkbox"></td>
    </tr>
  </tbody>
</table>