html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
}

// Header

.header {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);

  &__user {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  &__user__img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }

  &__user__name {
    display: flex;
    flex-direction: column;

    strong {
      font-weight: 600;
    }
  }

  &__user__link {
    font-family: monospace;
    color: white;
    margin-top: 4px;
    font-size: 12px;
    text-decoration: none;
  }
}

.header__logo {
  font-family: "Avenir Next";
  font-size: 24px;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header__btn {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  color: white;
  text-decoration: none;

  &__icon {
    margin-right: 8px;
  }
}

// Banner

.flash {
  text-align: center;
  color: white;
  font-weight: 600;
  padding: 18px;
  background-color: #FF7700;
}
