// Leaderboard

.leaderboard__wrapper {
  margin: 0px 20px;
}

table {
  border-collapse: collapse;
}

.leaderboard {
  width: 100%;
  margin-top: 100px;
  border-top: 4px solid white;

  th {
    cursor: auto;
    font-size: 16px;
    font-family: monospace;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid white;
  }

  tr {
    cursor: pointer;
    &:hover td {
      background: #333;
    }
  }

  tr + tr {
    border-top: 1px solid white;
  }

  td {
    padding: 20px 0px;
  }
}

.leaderboard__playah {
  display: flex;
  align-items: center;
}

.leaderboard__playah__icon {
  background-color: white;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(0,0,0,0.25);
}

.link {
  text-decoration: none;
  color: white;
}

.leaderboard__rank {
  font-size: 16px;
  font-family: monospace;
}

.leaderboard__index-name {
  font-size: 36px;
  font-weight: 600;
}

.leaderboard__index-playah {
  font-family: monospace;
}

// Asset

.assets {
  border-collapse: collapse;
}

.asset {
  border-bottom: 1px solid rgba(0,0,0,0.25);

  td {
    padding: 10px;
  }
}

.assets__legend {
  border-bottom: 2px solid rgba(0,0,0,0.25);
  font-weight: 600;

  td {
    padding: 10px;
    border-bottom: 1px solid red;
    border-collapse: collapse;
  }
}

.big-numbah {
  font-size: 36px;
}

.nomargin {
  margin-bottom: 0px !important;
}
