.new_index {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.name-asset {
  input {
    outline: none;
    font-size: 64px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
        "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 600;
    border: 0;
    border-bottom: 2px solid rgba(255,255,255,0.75);
    width: 100%;
    background-color: transparent;

    &:focus {
      border-bottom: 2px solid white;
    }
  }
}

.assets {
  width: 100%;
  thead {
    tr td {
      border-bottom: 2px solid #fff;
    }
  }
  tbody {
    tr {
      td {
        background-color: black;
        cursor: pointer;
        border-bottom: 1px solid #fff;
      }
      &.even td {
        background-color: #222;
      }
      &:hover td {
        background-color: #333;
      }
    }
  }
}

.dank__wrapper {
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
}

.danktable__wrapper {
  position: relative;
  flex: 1;
  table {
    thead {
      font-family: monospace;
      font-size: 16px;
    }
  }
  .dataTables_filter {
    position: absolute;
    top: 24px;
    right: 0;

    input {
      margin-left: 15px;

    }
  }
  .dataTables_info {
    padding: 10px;
    color: #999;
  }
  .dataTables_empty {
    padding: 10px;
  }
}

.wrappah {
  flex: 1;
  margin-right: 50px;
}

.dataTables_wrapper {
  flex: 1;
}

.picked-asset {
  display: flex;
    align-items: center;
    justify-content: space-between;
  margin-bottom: 20px;
}

.dank-input {
  display: flex;

  input {
    width: 150px;
    text-align: center;
    margin-right: 10px;
  }
}

.section-title {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.input__wrapper {
  display: flex;

  button, input {
    padding: 20px;
  }

  button {
    flex: 1;
    margin-right: 5px;
  }

  input {
    flex: 1;
    margin-left: 5px;
  }
}

.remove {
  a {
    opacity: 0.5;
    font-size: 32px;
    color: white;
    text-decoration: none;
  }

  &:hover {
    a {
      opacity: 1;
    }
  }
}

#lucky {
  border: none;
  background-color: rgb(200,200,200);
  outline: none;
  cursor: pointer;

  &:active {
    opacity: 0.75;
  }
}

.assets__legend {
  font-family: monospace;
  font-size: 16px;
  &:hover {
    background-color: black;
  }
}

.index__table {
  tr {
    cursor: pointer;
    &:hover td {
      background: #333;
    }
  }
}

#create_index {
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: green;
  border: none;

  &:disabled {
    cursor:auto;
    opacity: 0.5;
  }
}
