.new_index {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.name-asset {
  input {
    outline: none;
    font-size: 64px;
    color: white;
    font-family: "Avenir Next";
    font-weight: 600;
    border: 0;
    border-bottom: 2px solid white;
    width: 100%;
    background-color: transparent;

    &:focus {
      border-bottom: 2px solid blue;
    }
  }
}

.assets {
  thead {
    tr td {
      border-bottom: 2px solid #fff;
    }
  }
  tbody {
    tr {
      td {
        background-color: black;
        cursor: pointer;
        border-bottom: 1px solid #fff;
      }
      &.even td {
        background-color: #222;
      }
      &:hover td {
        background-color: #333;
      }
    }
  }
}

.dank__wrapper {
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
}

.danktable__wrapper {
  position: relative;
  .dataTables_filter {
    position: absolute;
    top: 24px;
    right: 0;

    input {
      margin-left: 15px;

    }
  }
  .dataTables_info {
    padding: 10px;
    color: #999;
  }
  .dataTables_empty {
    padding: 10px;
  }
}

.wrappah {
  flex: 1;
  margin-right: 50px;
}

.dataTables_wrapper {
  flex: 1;
}

.picked-asset {
  display: flex;
    justify-content: space-between;
  margin-bottom: 20px;
}

.dank-input {
  display: flex;

  input {
    color: white;
    background-color: black;
    margin-right: 10px;
  }
}

.section-title {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.input__wrapper {
  display: flex;

  button, input {
    padding: 20px;
  }

  button {
    flex: 1;
    margin-right: 5px;
  }

  input {
    flex: 1;
    margin-left: 5px;
  }
}
