.new_index {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.name-asset {
  input {
    outline: none;
    font-size: 64px;
    color: white;
    font-family: "Avenir Next";
    font-weight: 600;
    border: 0;
    border-bottom: 2px solid white;
    width: 100%;
    background-color: transparent;

    &:focus {
      border-bottom: 2px solid blue;
    }
  }
}

.assets {
  tbody {
    tr {
      td {
        background-color: black;
        cursor: pointer;
      }
      &:hover td {
        background-color: #333;
      }
    }
  }
}
